@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
}

.main {
    background-color: wheat;
    width: 80%;
    height: 100%;
}